<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <title>YouTube Video Downloader (error)</title>
    <link rel="icon" href="{{url_for('static', filename='icon.png')}}" type="image/icon type">
    <meta name="viewport" content="width=device-width, initial-scale=1" /> 
    <style>
        body {
          background-image: url('/static/backg.jpg');
          background-repeat: no-repeat;
          background-attachment: fixed;
          background-size: cover;
        }
        </style>
</head>
<body bgcolor="#9c90bb">
    <center><img src="{{url_for('static', filename='logo.ico')}}" align="middle" height="150"/><h2><i>
        <br><br><br><br><font style="font-family: Georgia, 'Times New Roman', Times, serif;"></p>
        Seems like the link was incorrect <br>
        Try again later :( <br>
        Please try again..<br></font>
        </i></h2><br>
    
</body>
</html>