<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <title>YouTube Video Downloader</title>  
    <link rel="icon" href="{{url_for('static', filename='icon.png')}}" type="image/icon type">
    <meta name="viewport" content="width=device-width, initial-scale=1" /> 
    <style>
      body {
        background-image: url('/static/bground.jpg');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
      }
      </style>
</head>
<body>
<center><br><img src="{{url_for('static', filename='logo.ico')}}" align="left" height="100"/>
<font style="font-family: Georgia, 'Times New Roman', Times, serif;">
<h1><b><u><i>YouTube Video Downloader</i></u></b></h1><br>
<font style="font-family: Georgia, 'Times New Roman', Times, serif;"><hr><br><br>
  <br><br>
 <form method="POST" action="/">
    <label for="name">Link:</label>
    <input type="text" id="link" name="link" size="50"><br><br>
    <input type="radio" name="options" id="video" value="video"> Video </input><br>
    <input type="radio" name="options" id="audio" value="audio"> Audio </input><br><br>
    <input type="submit" value="Submit">
  </form>
</font><br><br><hr><br><br><br><br>
<footer><small>© UK YOUTUBE VIDEO DOWNLOADER 2021</small></footer></footer></center>
</body>
</html>